body
{
background-color: black;
}
.row
{
    display: grid;
    gap: 20px;
    grid-template-columns:  300px 1fr;
    
}
.container1
{
  height: autos;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(27, 27, 27);

}
.submenu
{
    color: white;
}

.fa-envelope
{
    color: yellow;
    font-size: 20px;
    
}
.fa-mobile-notch
{
    color: yellow;
    font-size: 20px;
}
.fa-calendar-days
{
    color: yellow;
    font-size: 20px;
}
.fa-location-dot
{
    color: yellow;
    font-size: 20px;
}
hr
{
    width: 240px;
    color: rgb(36, 31, 31);
    
}
.subject
{
    margin-left: 40px;
}
.img
{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
    border-radius: 20px;

}
.container2
{
    
  height: auto;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(27, 27, 27);
  
  
}

nav{
    flex: 1;
    text-align: right;
    border-radius: 5px;
    border: 1px solid rgb(118, 121, 113);
    margin-left: 350px;
    background-color: rgb(36, 33, 33);
    
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    margin-right: 10px;
    
}
nav ul li a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:  Arial, sans-serif;
    
    
}
nav ul li a:hover
{
    
    color: yellow;
    background-color: rgb(27, 27, 27);
    
}

.container
{
    color: white;
    margin-left: 50px;
    
}
.container p
{
    color: rgb(179, 173, 173);
    font-family: Arial, Helvetica, sans-serif;
    
}
.container::after{
content: "";
border-bottom: 2px solid #868e96;
position: absolute;
width: 1px;
height: 50%;
background: #fff;
line-height: 1px;
top: 32%;
left: 29%;
margin-right: 10px;
}

/* .navbar1 nav
{
    flex: 1;
    text-align: left;
    border-radius: 5px;
    border: 1px solid rgb(118, 121, 113);
    margin-left: 350px;
    background-color: rgb(36, 33, 33);
}
.navbar1 ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    margin-right: 10px;
    
}
.navbar1 ul li a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:  Arial, sans-serif;
    
    
}
.navbar1 ul li a:hover
{
    
    color: yellow;
    background-color: rgb(27, 27, 27);
    
} */
